body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0c0707;
}
.Welcome{
    color: #0097a7;
}

.Autor{
    color: aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px; 
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(48, 47, 47, 0.2); 
    background: linear-gradient(135deg, #282a2b, #2e2535); 
    background-size: 200% 200%;
    animation: gradientAnimation 8s ease infinite; 
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#mainImage {
    width: 250px; 
    height: 250px; 
}

.imageRandom {
    width: 10%;
    height: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out; 
}

.imageRandom:hover {
    transform: scale(1.05); 
}

#changeButton {
    padding: 12px 24px;
    font-size: 1em;
    color: #fff;
    background: linear-gradient(to right, #00bcd4, #9c27b0); 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#changeButton:hover {
    background: linear-gradient(to right, #0097a7, #7b1fa2);
     }

#randomPhrase {
    margin-top: 20px;
    font-size: 1.1em;
    color: #e7dddd;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(27, 26, 26, 0.5); 
}
